:root {
	--gris-fond-assets     : #242423;
	--gris-select-assets   : #343533;
	--noir-text-fond-claire: #000000;
	--gris-text-fond-foncé : #CBD5F5;
	--gris-fond-info-tab   : #DEDEDE;
	--bleu-icon            : #DEDEDE;
	--bleu-fond-faide      : #2158BD;
	--blanc                : #FFFFFF;
}

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'IBM Plex Sans', sans-serif;
}

.background {
	min-height: 100vh;
	background: linear-gradient(to bottom, var(--bleu-fond-faide) 0%, var(--gris-fond-assets) 93%);
}

.main-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 20px;
}

.header-left {
	display: flex;
	align-items: center;
	gap: 12px;
	background-color: var(--gris-fond-assets);
}

.header-right {
	display: flex;
	gap: 12px;
}

.menu-btn {
	background: var(--gris-fond-assets);
	color: var(--gris-text-fond-foncé);
	border: none;
	padding: 8px 20px;
	border-radius: 22px;
	font-size: 16px;
	cursor: pointer;

	transition: all 0.2s ease;
}

.menu-btn:hover {
	color: var(--gris-text-fond-foncé);
	background: var(--gris-select-assets);
}

.menu-btn.active {
	color: var(--blanc);
	background: var(--gris-select-assets);
	border: 2px solid var(--blanc);
}