#transparent {
	background-color: transparent;
	border: none;
}

#block-login {
	background-color: var(--gris-fond-assets);
	color: var(--blanc);
	border-radius: 15px;
	border: none;
	text-align: center;
	margin: 0 50px;
	padding: 0 20px;
}

#form-spacing {
	margin: 20px 0;
}

#divider {
    border: none;
    border-top: 1px solid var(--gris-text-fond-foncé);
    margin: 20px 0;
}

#btn-action {
	background-color: var(--gris-select-assets);
	color: var(--blanc);
	border-radius: 15px;
	border: none;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

#btn-action:hover {
	background-color: var(--gris-text-fond-foncé);
	border: 2px solid var(--gris-text-fond-foncé);
	color: var(--noir-text-fond-claire);
}

#text-title {
	color: var(--gris-text-fond-foncé);
	text-decoration: none;
}

#text-title:hover {
	color: var(--bleu-icon);
	text-decoration: underline;
}

